*.o
*.swp
*.patch
/Makefile.in
po/Makefile
po/Makefile.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
po/stamp-po
po/xnec2c.pot
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.h.in*
config.log
config.rpath
config.status
config.sub
configure
stamp-h1
gmon.out
gmon.txt
install-sh
src/xnec2c
m4
ABOUT-NLS
missing 
