[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=xnec2c
Comment=Antenna analysis
Exec=xnec2c -j4
Icon=xnec2c.png
Terminal=false
Type=Application
Categories=HamRadio;Science;Utility
