[Desktop Entry]
Name=Xnec2c
GenericName=NEC2 Simulator
Comment=Numerical Electromagnetics Code software
Exec=xnec2c %f
Icon=xnec2c
Terminal=false
Type=Application
Categories=Science;Math;NumericalAnalysis;Electronics
Keywords=nec2;em;simulator;
X-Desktop-File-Install-Version=0.22
MimeType=application/x-nec2;
