[Desktop Entry]
Name=Xnec2c
GenericName=GTK+ version of NEC2
Comment=Numerical Electromagnetics Code software
Exec=xnec2c
Icon=xnec2c
Terminal=false
Type=Application
Categories=Science;Math;NumericalAnalysis;
X-Desktop-File-Install-Version=0.22
